@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: white;
  }
}

@font-face {
  font-family: "ooohbaby";
  src: url("../public/OoohBaby-Regular.ttf");
}

.ooohbaby {
  font-family: "ooohbaby";
}


@font-face {
    font-family: "ephesis";
    src: url("../public/Ephesis-Regular.ttf");
  }
  
  .ephesis {
    font-family: "ephesis";
    font-weight: bold;
  }


  
@font-face {
  font-family: "birthstone";
  src: url("../public/Birthstone-Regular.ttf");
}

.birthstone {
  font-family: "birthstone";
}
  